.pie {
  margin: 20px;
}

.pie text {
  font-family: "Verdana";
  fill: #888;
}

.pie .name-text{
  font-size: 1em;.pie {
  margin: 20px;
}

.pie text {
  font-family: "Verdana";
  fill: #888;
}

.pie .name-text{
  font-size: 1em;
}

.pie .value-text{
  font-size: 3em;
}

#chart {
	margin: auto;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 15%;
}
}

.pie .value-text{
  font-size: 3em;
}

#chart {
	margin: auto;
    text-align: center;
    margin-top: 15%;
}